/* Navbar */
.nav-bar {
  box-shadow: 0 4px 6px -5px rgb(148, 148, 148);
  padding: 0.7rem;
  background-color: var(--background-color);
  margin-bottom: 0.2rem;
}

.nav-logo {
  height: 45px;
  width: 250px;
}

a {
  text-decoration: none;
}

.nav-bar p:hover {
  background-color: var(--secondary-color);
}

/* hero */

.hero-section {
  display: flex;
  margin: auto;
  width: 85%;
  margin-top: 0.2rem;
}

.hero-image,
.hero-info {
  width: 50%;
}

.hero-info > * {
  width: 70%;
  margin: auto;
}

.hero-info h1 {
  margin-top: 6rem;
}

.hero-info p {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-top: 1rem;
}

.hero-info button {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 0.3rem 2rem;
}

.hero-info button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.hero-image img {
  height: 90%;
  width: 100%;
}

.third__section {
  margin-bottom: 1rem;
}

/* footer */
.footer-section {
  padding: 2rem 0rem 1rem 0rem;
  box-shadow: 0px -2px 5px -1px rgba(124, 124, 124, 0.5);
}

.visitor__count {
  position: relative;
  margin-top: 0.5rem;
}

.visitor__count img {
  position: absolute;
  margin-left: 0.3rem;
  bottom: 0;
}

.footer__flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer__social {
  margin-right: 2%;
}

.footer__text {
  margin-left: 2%;
  width: 50%;
}

.footer__text h2 {
  color: var(--text-color);
}

.footer__text h2 span {
  color: var(--primary-color);
}

.footer-section .footer__social a {
  margin: 0 0.6rem;
}

.footer__social i {
  color: var(--primary-color);
}

.fa-github:hover {
  color: #fff;
  text-shadow: 0 0 0.9rem #fff;
  transition: all 0.5s ease;
}

.fa-linkedin:hover {
  color: rgb(63, 98, 145);
  text-shadow: 0 0 0.5rem rgb(68, 119, 185);
  transition: all 0.5s ease;
}

.fa-twitter:hover {
  color: rgb(74, 174, 241);
  text-shadow: 0 0 0.5rem rgb(74, 174, 241);
  transition: all 0.5s ease;
}

/* page not found */

.error-img {
  height: 35rem;
  width: 40rem;
  margin: 0 auto;
}

.error-img img {
  height: 100%;
  width: 100%;
}

.error__outer{
  min-height: 85vh;
}

@media screen and (max-width: 1150px) {
  .hero-info > * {
    width: 90%;
  }
  .hero-image img {
    height: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .hero-info button {
    margin-bottom: 2rem;
  }
  .hero-info h1 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .nav-option ul {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .second__section {
    flex-direction: column;
  }
  .hero-image,
  .hero-info {
    width: 100%;
  }
  .footer__text {
    width: 95%;
    margin-bottom: 2%;
  }
  .footer__flex {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .about-cards .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .visitor__count {
    margin-left: -7rem;
    margin-top: 1rem;
  }
  .visitor__count img {
    top: -0.3rem;
  }
  .error-img {              
    height: 25rem;
    width: 30rem;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .error-img {
    height: 20rem;
    width: 25rem;
    margin-top: 6rem;
  }
}

@media screen and (max-width: 470px) {
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }
  .nav-option {
    margin: 0 auto;
  }
}

@media screen and (max-width: 440px) {
  .error-img {
    height: 15rem;
    width: 20rem;
  }
}


@media screen and (max-width: 350px) {
  .hero-info h1 {
    font-size: 1.3rem;
  }
  .hero-info p,
  .hero-info button {
    font-size: 1rem;
  }
  .error-img {
    height: 13rem;
    width: 16rem;
  }
}
