.singlevideo__main {
  width: 85%;
  margin: 0 auto;
}

.singlevideo__display {
  margin: 3rem 0rem;
}

.singlevideo__main iframe {
  width: 100%;
  height: 80vh;
  margin-bottom: 1rem;
}

.singlevideo__action {
  margin-top: 1rem;
  display: flex;
}

.playlist__main {
  position: relative;
}

.playlist__view {
  position: absolute;
  bottom: 105%;
  left: 70%;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  padding: 0.3rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.playlist__view p {
  padding: 0.3rem 0rem;
  color: var(--primary-color);
  cursor: pointer;
}

.playlist__view p:hover {
  background-color: rgb(111, 62, 175);
  border-radius: 5px;
}

.playlist__view p i {
  font-size: 1rem;
  color: var(--primary-color);
}

.empty__playlist {
  padding: 0.5rem;
}

.singlevideo__action i {
  font-size: 1.5rem;
  margin: 0rem 1rem;
  cursor: pointer;
}

.tippy-tooltip {
  background-color: #dbeef5;
  border-radius: 25px;
  color: black;
}

.singlevideo__info h3 {
  margin-bottom: 1rem;
}

.singlevideo__info h5:nth-child(2) {
  margin-bottom: 1rem;
}

.singlevideo__info h5:nth-child(3) {
  margin-bottom: 0.5rem;
}

.singlevideo__info-main {
  display: flex;
}

.singlevideo__info-first {
  width: 70%;
}

.related__video-main {
  width: 390px;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.related__video-main h2 {
  margin-bottom: 0.5rem;
}

.related__video-main img {
  height: 200px;
  width: 100%;
  margin-bottom: 0.8rem;
}

.related__video-main img:hover {
  opacity: 0.7;
}

/* comment */

.commentSection {
  width: 80%;
  display: flex;
  flex-direction: column-reverse;
}

.mainComment {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  border: 1px solid var(--secondary-color);
  margin: 0.5rem;
  border-radius: 10px;
  background-color: var(--background-color);
}

.mainComment p {
  color: var(--primary-color);
}

.comment__title {
  margin-bottom: 1rem;
}

.inputComment h3 i {
  padding: 0.6rem;
  cursor: pointer;
}

.inputComment input {
  width: 60%;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  outline: none;
  color: var(--primary-color);
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.mainComment h4 {
  /* border: 1px solid green; */
  margin: 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2rem;
  align-items: center;
}

.childComment {
  /* border: 1px solid red; */
  margin: 0;
  margin: 0.3rem 0;
  width: 90%;
  padding: 0.3rem 1rem;
  align-self: flex-end;
}

.inputComment h3 {
  margin: 0.7rem 0rem 0.7rem 0rem;
}

.mainComment .reply__secrion {
  margin-left: 8%;
}

.mainComment span {
  margin: 0rem 0rem 0.5rem 1rem;
  cursor: pointer;
}

.modal__input {
  display: flex;
  gap: 1rem;
  width: 300px;
}

.modal__button {
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

@media screen and (max-width: 1250px) {
  .singlevideo__main iframe {
    height: 70vh;
  }
}

@media screen and (max-width: 1100px) {
  .singlevideo__main iframe {
    height: 60vh;
  }
}

@media screen and (max-width: 950px) {
  .singlevideo__main iframe {
    height: 50vh;
  }
}

@media screen and (max-width: 800px) {
  .singlevideo__main iframe {
    height: 40vh;
  }
}

@media screen and (max-width: 900px) {
  .singlevideo__info-main {
    display: flex;
    flex-direction: column;
  }
  .singlevideo__info-first {
    width: 100%;
  }
  .related__video-main {
    padding: 0;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 475px) {
  .singlevideo__main iframe {
    height: 30vh;
  }
}

@media screen and (max-width: 450px) {
  .related__video-main a > img {
    width: 80%;
  }
  .modal__input {
    width: 250px;
  }
}

@media screen and (max-width: 360px) {
  .related__video-main a > img {
    width: 70%;
  }
  .modal__input {
    width: 200px;
  }
}

@media screen and (max-width: 310px) {
  .related__video-main a > img {
    width: 65%;
  }
  .modal__input {
    width: 180px;
  }
}
