.video__main {
  display: flex;
  width: 85%;
  margin: auto;
  min-height: 85vh;
}

.video__grid {
  width: 80%;
  position: relative;
}

.video__search {
  padding: 1rem 1rem;
  width: 100%;
  right: 10%;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: var(--background-color);
  box-shadow: inset 5px 0 5px -5px rgba(109, 108, 108, 0.7);
}

.video__search input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
  outline: none;
  font-size: 1rem;
}

.video__sidebar {
  width: 215px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  box-shadow: 5px 0 5px -5px rgba(63, 63, 63, 0.7);
}

.activetab {
  border-bottom: var(--secondary-color) solid 3px;
  padding: 1rem;
  width: 100%;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-size: 1.1rem;
  cursor: pointer;
}

.notactive {
  padding: 1rem;
  width: 100%;
  border: none;
  color: var(--primary-color);
  background-color: var(--background-color);
  border-bottom: var(--background-color) solid 3px;
  font-size: 1.1rem;
  cursor: pointer;
}

.video__sidebar i,
.video__sidebar p {
  color: var(--primary-color);
  margin-right: 0.5rem;
  font-size: 1.1rem;
}

.sidebar__option {
  display: flex;
}

.video__list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  justify-items: center;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 0.3rem;
  box-shadow: inset 5px 0 5px -5px rgba(109, 108, 108, 0.7);
}

.video__card {
  height: 250px;
  width: 300px;
  box-shadow: rgba(255, 255, 255, 0.27) 0px 0px 0.25em,
    rgba(255, 255, 255, 0.05) 0px 0.25em 1em;
}

.video__info {
  margin-left: 0.3rem;
}

.video__img {
  height: 170px;
  width: 100%;
  margin-bottom: 0.3rem;
}

.video__img img {
  height: 100%;
  width: 100%;
}

.info__one {
  display: flex;
  justify-content: flex-end;
  margin: 0.2rem 0rem 0.3rem 0rem;
}

.info__one i {
  margin: 0rem 0.5rem;
  font-size: 1.4rem;
  z-index: 2;
  cursor: pointer;
}

.empty__list {
  position: absolute;
  top: 40%;
  left: calc(50% - 15%);
}

.liked__video {
  color: var(--icon-color);
}

.watched__video {
  display: flex;
  justify-content: space-between;
}

.watched__video button {
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  background-color: var(--background-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: var(--primary-color);
  cursor: pointer;
}

.watched__video button:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.category__div {
  column-gap: 1rem;
  width: 100%;
  display: flex;
  margin-bottom: 0.9rem;
  background-color: var(--background-color);
  overflow-x: scroll;
  margin-left: 1rem;
}

.category__div span {
  border: 1px solid var(--secondary-color);
  border-radius: 15px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  color: var(--primary-color);
}

.active-cat {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

@media screen and (max-width: 1350px) {
  .video__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar__option p {
    display: none;
  }
  .video__sidebar {
    width: 60px;
  }
}

@media screen and (max-width: 800px) {
  .video__main {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .video__card {
    width: 230px;
  }
  .empty__list {
    left: calc(40% - 15%);
  }
}

@media screen and (max-width: 570px) {
  .video__list {
    grid-template-columns: 1fr;
  }
  .video__card {
    width: 300px;
  }
  .empty__list {
    top: 35%;
    left: calc(28% - 15%);
  }
}

@media screen and (max-width: 450px) {
  .video__main {
    margin-top: 0.2rem;
  }
  .video__search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .video__search button {
    margin-top: 0.3rem;
  }
  .video__search h3 {
    font-size: 1.2rem;
  }
  .empty__list {
    top: 25%;
    left: calc(30% - 15%);
    font-size: 1rem;
  }
}

@media screen and (max-width: 390px) {
  .video__card {
    width: 270px;
  }
  .empty__list {
    left: calc(25% - 15%);
    display: flex;
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .video__card {
    width: 230px;
  }
}

@media screen and (max-width: 350px) {
  .video__search h3 {
    font-size: 1rem;
  }
}
