@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
@import "./frontend/stylesheets/index.css";

:root {
  --background-color: #000000;
  --primary-color: #ffffff;
  --secondary-color: #bb86fc;
  --text-color: #7b7b7b;
  --icon-color: #9749f5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

i {
  color: var(--primary-color);
}
